li {
    list-style: none;
    padding: 0;
}

.project-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    letter-spacing: 1px;
    width:auto;
    height:auto;
}

.project-breakdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 80vw;
    background-color: rgba(245, 240, 235, 0.90);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;

}

.p-display-title {
    margin-top: 1em;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-block-end: 0px;
    font-weight: bold;
}
.p-cost-display {
    margin-block-start: 0.5em;
}
.cb-header {
    margin-block-end: 0em;
}
.delete-btn {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
}



.pie-chart {
    padding-bottom: 5px;
}

.breakdown-lists {
    display:flex;
    flex-direction: row;
}


/* .recharts-default-legend {
    margin-left: 5px;
} */
/* .recharts-legend-item{
    margin-left: 15px;
} */

.recharts-legend-item-text {
    font-size: 8px;
}

.ingredients, .packaging {
    justify-content: center;
    font-weight:bold;
    margin-bottom: 5px;
    padding: 0;
}



@media only screen and (min-width: 768px) {
    /* For desktop: */
    .project-breakdown{
        width: 75vw;
        height: 60vw;
    }
    .recharts-legend-item-text {
        font-size: 14px;
    }

  }