@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
/* .App::before {
  content: "";
  background-image: url(../WHS1.jpg);
  background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
} */

* {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.App {
  position: relative; 
    height: 100vh;
    width: 100%;
 
}

.App::after {
  content: "";
  background: url(../WHS1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.5;
  /* background-size: 100% 100%;
  background-repeat: no-repeat; */
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
  z-index: -1;   
}

.App_header {
  display: flex;
  justify-content: left;
  flex-basis: 0;
  color: #2c2b2b;
  margin-left: 20px;
  padding-left: 5px;
  transition: transform 2s ease-in-out;
  align-items: flex-end;
  
}

.App_header_box {
  display: flex;
  align-items:flex-end;
  border-radius: 10px;
  
}
.App_header_box:hover {
  transition: transform 330ms ease-in-out;
  /* transform: translateY(-5px); */
  -webkit-transform: scale(1.18);
        -ms-transform: scale(1.2);
        transform: scale(1.18);
}

.dropper-icon {
  padding-left: 4px;
  padding-bottom: 0px;
  margin-block-start: 0px;
  width: 20px;
  height: 35px;
  color: #2c2b2b;
}

.header_link{
  color: black;
  text-decoration: none;
  /* padding-right: 2px; */
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 2vw;
}


h1 {
  display:flex;
  flex-direction:row;
  align-items: flex-end;
  justify-content: center;
 

}
h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  /* border-bottom: solid 2px #474544; */
  margin: 20px 50px 20px 50px;
}

@media (min-width: 900px) {
  /* For desktop: */
  .header_link {
    font-size: 40px;
  }

  
  
}



