@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
/* .App::before {
  content: "";
  background-image: url(../WHS1.jpg);
  background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
} */
a {
  text-decoration: none;
  color: black;
}
.App {
  position: relative; 
    height: 100vh;
    width: 100%;
 
}

.App::after {
  content: "";
  background: url(../WHS1.jpg);
  opacity: 0.5;
  background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
  z-index: -1;   
}

.App_header {
  display: flex;
  justify-content: left;
  align-items: center;
  align-self:center;
  
  flex-basis: 0;
  font-family: 'Montserrat', sans-serif;
  color: #2c2b2b;
  margin-left: 20px;
  padding-left: 5px;
  transition: transform 2s ease-in-out;
  
}

.App_header_box {
  border-radius: 10px;

}
.App_header_box:hover {
  transition: transform 330ms ease-in-out;
  /* transform: translateY(-5px); */
  -webkit-transform: scale(1.18);
        -ms-transform: scale(1.2);
        transform: scale(1.18);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.header_link{
  color: #2c2b2b;
  text-decoration: none;
  padding-right: 7px;
  letter-spacing: 1px;
  font-weight: 400;
  justify-content: left;
}


h1 {
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  /* border-bottom: solid 2px #474544; */
  margin: 20px 50px 20px 50px;
}



